*{
	margin:0px;
	padding: 0px;
}
.header{
	background: url(Background.png) no-repeat;
	
}
.wrapper{
	max-width:940px;
	margin:0 auto;
}
.nav{
	display:flex;
	justify-content:space-between;
}
.logo{
	display:flex;
	align-items:center;
	font-size: 30px;
	color:#36b3cd;
}
.logo img{
	height:50px;
	width:50px;
}
.menu{
	display:flex;
}
.menu ul{
	display:flex;
	list-style-type:none;
	font-size: 13px;
	align-items:center;
}
.menu li{
	margin-left:25px;
	border:1px solid #ccc;
	border-radius:10px;
	font-size: 15px;
}
.menu ul #active{
	color:#1b355e;
}
.menu a{
	text-decoration:none;
	color:#fefefe;
	margin: 10px;
}
.contanier{
	display: flex;
	align-items: center;
	justify-content: center;
}
.login {
	display:flex;
	justify-content: center;
	background: url(5.png) no-repeat;
	width: 535px;
	height: 450px;
	margin: 0 auto;
	margin-top: 60px;
}
.forminput{
	margin-top: 20px;
}
.inp{
	padding: 0.5em;
	font-size: 0.875em;
	border:1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 10px;
}
h2{
	text-align: center;
	margin-top:10px;
	color:white;
}
.sub{
	margin-bottom: 10px;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}
.sub #kek{
	font-size:1.2em;
	background: #91c46c;
	height: 40px;
	width: 150px;
	color:white;
	border:1px solid #91c46c;
	border-radius: 10px;
	cursor:pointer;
}
select{
	border-radius: 10px;
	margin:0 auto;
	width: 185px;
	margin-bottom: 10px;
	height: 25px;	
}
#date{
    border-radius: 10px;
	width: 180px;
	margin-bottom: 10px;
	height: 23px;	
}
#lol{
	color:white;
	font-size: 16.5px;
}
